body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
address {
  font-style: normal;
}

body a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

body ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*============= HEADER ============*/
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}

.span-header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2e2f42;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 40px;
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.header-soc {
  margin-left: auto;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
.header-soc-menu {
  display: flex;
  gap: 40px;
}
.header-soc-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
}

.header-soc-link:hover,
.header-soc-link:focus {
  color: #404bbf;
}

/*=========== HERO ==============*/
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-container {
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  max-width: 496px;
  text-align: center;
  margin-bottom: 48px;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  top: 20px;
  left: 20px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/*=========== APPORACH ===============*/
.approach {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.approach-item {
  width: calc((100% - 24px * 3) / 4);
}
.apporach-list {
  display: flex;
  gap: 24px;
}
.apporach-title {
}

.approach-item-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}
/*============= TEAM ====================*/
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.teammate-container {
  padding: 32px 0;
}
.team-img {
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 24px * 3) / 4);
  text-align: center;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-item-text {
}
/*============= PORTFOLIO ==================*/
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-img {
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item-text {
}
/*============== FOOTER =================*/
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.span-footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-soc-list {
}
.footer-soc-title {
}
.footer-soc-item {
}
.footer-soc-link {
}
